.App {
  text-align: center;
  min-height: 100vh;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: red;

}

.App-header {
  background-color: #282c34;
  height: 48px;
  color: white;
  font-size: calc(10px + 2vmin);

}

.App-link {
  color: #61dafb;
}
