main {
    display: flex;
    background: white;
}

.panel-title {
    height: 48px;
    background-color: orangered;
    border: 1px solid black;
}
.panel-content {
    height: calc(100% - 48px);
    overflow-y: scroll;
}

main {
    overflow-x: scroll;
}

div.panel {
    min-width: 400px;
    width: 100%;
    border: 1px solid purple;
    height: calc(100vh - 48px);
}

div.panel.bothPanels {
    width: 50%;
}

.fake-content {
    height: 60px;
}