main {
    display: flex;
    background: white;
}

.panel-title {
    background-color: orangered;
    border: 1px solid black;
}

.panel-title.small {
    height: 24px;
}

.panel-title.medium {
    height: 48px;
}

.panel-title.large {
    height: 60px;
}



.panel-content {
    overflow-y: scroll;
}

main {
    overflow-x: scroll;
}

div.panel {
    min-width: 400px;
    width: 100%;
    border: 1px solid purple;
    height: calc(100vh - 48px);
}

div.panel.bothPanels {
    width: 50%;
}

.fake-content {
    height: 60px;
}